**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vs/
*.csproj.user
.dotnet-home/
.nuget-packages/
.nuget-cache/
.npm-cache/
npm-debug.log*
src/NetMind.WebApi/Logs/
*.log
src/NetMind.WebApi/Properties/launchSettings.json
